# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
cities = pd.read_csv("output_data/cities.csv")
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,rikitea,-23.12,-134.97,72.39,81,100,14.23,PF,1596005309
1,puerto varas,-41.32,-72.99,30.20,100,90,2.24,CL,1596005309
2,nabire,-3.37,135.48,83.71,72,100,1.70,ID,1596005310
3,buin,-33.73,-70.75,45.00,86,0,3.36,CL,1596005310
4,albany,42.60,-73.97,64.00,69,0,3.15,US,1596005033

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [10]:
location = cities[["Lat","Lng"]]
weight = cities["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(location, weights=weight)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
i_cities = cities.loc[(cities["Cloudiness"]<=10)&(cities["Humidity"]<=50)&(cities["Max Temp"]>60)&(cities["Max Temp"]<=88)]
i_cities = i_cities.reset_index().drop(columns="index")
i_cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,saskylakh,71.92,114.08,63.97,47,0,5.14,RU,1596005317
1,portland,45.52,-122.68,72.00,49,1,4.70,US,1596004915
2,safford,32.83,-109.71,87.80,31,1,6.93,US,1596005326
3,beloha,-25.17,45.05,74.01,47,0,6.82,MG,1596005329
4,koutsouras,35.03,25.95,88.00,40,0,15.99,GR,1596005332
5,saint george,37.10,-113.58,86.00,8,1,3.36,US,1596005333
6,mafinga,-7.25,35.07,73.94,45,0,6.33,TZ,1596005335
7,port augusta,-32.50,137.77,66.00,48,0,10.29,AU,1596005348
8,kaa-khem,51.68,94.73,76.62,32,0,4.25,RU,1596005356
9,karratha,-20.74,116.85,79.79,27,0,14.85,AU,1596005357
10,mildura,-34.20,142.15,64.00,21,0,8.05,AU,1596005361
11,geraldton,-28.77,114.60,69.80,46,0,9.17,AU,1596005368
12,mountain home,43.13,-115.69,69.80,46,1,4.70,US,1596005270
13,bowen,-20.02,148.23,71.01,32,0,10.29,AU,1596005381
14,mount isa,-20.73,139.50,73.40,13,0,14.99,AU,1596005384
15,leshukonskoye,64.90,45.76,72.37,50,0,2.77,RU,1596005386
16,cairns,-16.92,145.77,75.99,37,0,13.87,AU,1596005159
17,kununurra,-15.77,128.73,86.00,13,0,10.29,AU,1596005397
18,kuvandyk,51.48,57.36,75.07,46,0,5.19,RU,1596005398
19,whyalla,-33.03,137.58,64.40,48,0,10.29,AU,1596005398
20,krasnolesnyy,51.88,39.59,82.40,30,1,8.95,RU,1596005399
21,shubarkuduk,49.14,56.49,78.19,32,0,4.50,KZ,1596005400
22,opuwo,-18.06,13.84,62.08,30,0,8.88,NaN,1596005404
23,kashi,39.45,75.98,87.80,16,0,6.71,CN,1596005406
24,kamina,-8.74,24.99,73.45,31,9,4.45,CD,1596005414
25,loukhi,66.08,33.04,68.72,49,0,9.06,RU,1596005419
26,elko,41.00,-115.50,75.20,19,1,3.36,US,1596005419
27,xining,36.62,101.77,78.01,37,0,5.95,CN,1596005243
28,jalu,29.03,21.55,85.26,34,0,2.95,LY,1596005431
29,bundaberg,-24.85,152.35,70.00,45,0,9.17,AU,1596005432
30,chumikan,54.72,135.31,85.17,44,0,10.02,RU,1596005432
31,akdepe,42.06,59.38,86.00,27,0,11.41,TM,1596005433
32,madera,37.17,-119.83,78.01,42,0,4.27,US,1596005435
33,broken hill,-31.95,141.43,66.20,16,0,11.41,AU,1596005439
34,saint-alexandre,44.23,4.62,78.01,50,0,16.11,FR,1596005443
35,ukiah,39.15,-123.21,71.60,46,1,1.19,US,1596004899

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [76]:
hotel_df = i_cities.loc[:,["City","Country"]]
hotel_df["Hotel Name"]=""
hotel_df["Lat"]=""
hotel_df["Lng"]=""

In [77]:
target_radius = 5000
target_type = "hotel"
params = {
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in i_cities.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    response = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index,"Hotel Name"] = response["results"][0]["name"]
        hotel_df.loc[index,"Lat"]=response["results"][0]["geometry"]["location"]["lat"]
        hotel_df.loc[index,"Lng"]=response["results"][0]["geometry"]["location"]["lng"]
    except IndexError:
        print(f"Missing {row['City']} field/result... skipping.")

Missing kaa-khem field/result... skipping.
Missing elko field/result... skipping.

In [85]:
hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!="")]
hotel_df

               City Country          Hotel Name      Lat      Lng
0         saskylakh      RU           Saskylakh  71.9543   114.12
1          portland      US            Portland  45.5051 -122.675
2           safford      US             Safford   32.834 -109.708
3            beloha      MG              Beloha -25.1694  45.0607
4        koutsouras      GR        Makry Gialos  35.0365  25.9706
5      saint george      US          St. George  37.0965 -113.568
6           mafinga      TZ             Kisanga -7.21667    35.05
7      port augusta      AU        Port Augusta -32.4952  137.789
9          karratha      AU            Karratha -20.7337  116.845
10          mildura      AU             Mildura  -34.208  142.125
11        geraldton      AU           Geraldton -28.7797  114.614
12    mountain home      US       Mountain Home   43.133 -115.691
13            bowen      AU               Bowen -20.0121  148.246
14        mount isa      AU           Mount Isa -20.7256  139.493
15    leshukonskoye      RU       Leshukonskoye  64.8973  45.7652
16           cairns      AU              Cairns -16.9186  145.778
17        kununurra      AU           Kununurra -15.6049  128.765
18         kuvandyk      RU            Kuvandyk  51.4813   57.377
19          whyalla      AU             Whyalla  -33.038  137.575
20     krasnolesnyy      RU            Voronezh  51.6683  39.1919
21      shubarkuduk      KZ         Shubarkuduk   49.143  56.4817
22            opuwo     NaN               Opuwo  -18.058  13.8361
23            kashi      CN  Kashgar Prefecture  39.4704  75.9898
24           kamina      CD              Kamina  -8.7369  24.9873
25           loukhi      RU               Louhi  66.0751  33.0482
27           xining      CN              Xining  36.6171  101.778
28             jalu      LY                Jalu  29.0406  21.4991
29        bundaberg      AU           Bundaberg -24.8661  152.349
30         chumikan      RU            Chumikan  54.7165  135.308
31           akdepe      TM              Akdepe  42.0532  59.3846
32           madera      US             Raymond  37.2153 -119.906
33      broken hill      AU         Broken Hill -31.9539  141.454
34  saint-alexandre      FR    Bagnols-sur-Cèze  44.1625  4.62007
35            ukiah      US               Ukiah  39.1502 -123.208

In [74]:
hotel_df

In [86]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [90]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Display figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))